* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: #252525;
}

#paragraph {
    color: #fff;
}

.result-details {
    color: #fff;
}

.wrapper {
    padding: 50px;
}

.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.content-box .typing-text {
    overflow: hidden;
    max-height: 260px;
}