/* Orbitron futuristic Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@450&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 90vh;
    background: #252525;
    padding: 1vw 10vw;
}

.logo {
    color: #fff;
}
#paragraph {
    color: #ffffff60;
}

.result-details {
    color: #fff;
}

.wrapper {
    padding: 50px;
}

.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.content-box .typing-text {
    overflow: hidden;
    max-height: 260px;
}

.typing-text p span {
    position: relative;
}

.typing-text p {
    font-size: x-large;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

/* Colors: https://www.schemecolor.com/red-black-and-green-color-combination.php */

.typing-text p span.correct {
    color: #a3ff00;
    text-shadow: -2px -1px 10px #639b00;
}
.typing-text p span.incorrect {
    color: #ff0000;
    border-radius: 4px;
}

.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: rgb(0 135 210);
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 10;
    }
}
.content-box .content {
    margin-top: 15px;
    display: flex;
    padding: 15px 0;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #FFF;
}
.content button {
    width: 110px;
    background: none;
    color: #FFF;
    padding: 10px 0;
    font-size: medium;
    font-weight: 600;
    border: 2px solid #FFF;
    transition: transform 0.2s ease;

}

.content button:active {
    transform: scale(0.89);

}
.content button:hover {
    color: #fff;
    text-shadow: 2px 3px 1px rgb(0 135 210);
    border: 3px solid rgb(0 135 210);  
}

.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}

.result-details li span, .result-details li p {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}