/* Orbitron futuristic Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@450&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
}

button, a {
    cursor: pointer;
}
body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #252525;
    padding: 1vw 10vw;
}

.logo {
    color: #fff;
    font-size: xx-large;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    letter-spacing: 2px;
    text-align: center;
}

.message {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 3px;
}

#paragraph {
    color: #ffffff60;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.result-details {
    color: #fff;
}

.result-details:hover, .logo:hover:hover {
    color:#00FF00;
    transition: 2s;
}

.wrapper {
    padding: 40px;
}

.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.content-box .typing-text {
    overflow: hidden;
    max-height: 300px;
}

.typing-text p span {
    position: relative;
}

.time > span {
    color:#00FF00;
}

.typing-text p {
    font-size: x-large;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

/* Colors: https://www.schemecolor.com/red-black-and-green-color-combination.php */

.typing-text p span.correct {
    color: #a3ff00;
    text-shadow: -2px -1px 10px #639b00;
}
.typing-text p span.incorrect {
    color: #ff0000;
    border-radius: 4px;
}

.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #00FF00;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50% {
        opacity: 10;
    }
}
.content-box .content {
    margin-top: 15px;
    display: flex;
    padding: 15px 0;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #FFF;
}
.content button {
    width: 110px;
    background: none;
    color: #FFF;
    padding: 10px 0;
    font-size: medium;
    font-weight: 600;
    border: 1px solid #FFF;
    transition: transform 0.2s ease;
    letter-spacing: 1px;

}

.content button:active {
    transform: scale(0.89);

}
.content button:hover {
    color: #00FF00;
    border: 1px solid #00FF00;
    transition: 0.9s;
}

.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}

.result-details li span, .result-details li p {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}

footer {
    color: #ffffff60;
    width: 100%;
    position: relative; /* Ändere dies von absolute auf relative */
    padding: 15px;
    color: #fff;
    font-size: 14px;
    margin-top: auto;
    text-align: center;
    border: 1px solid #FFF;
    letter-spacing: 2px;
}

footer:hover {
    color: #00FF00;
    border: 1px solid #FFF;
    border: 1px solid #00FF00; 
    transition: 0.9s;
}

/* Smaller Devices*/
@media (max-width: 768px) {
    .wrapper {
        padding: 0;
    }
    
    .logo {
        font-size: large;
    }

    .message {
        font-size: small;
    }

    .typing-text p {
        font-size: medium;
    }

    .result-details li span, .result-details li p {
        font-size: smaller;
    }
    .content button {
        width: 100%;
    }
    footer {
        font-size: x-small;
    }
}

/* Larger Screens*/
@media (max-width: 1024px) {
    .wrapper {
        padding: 60px;
    }

    .message {
        font-size: large;
    }

    .typing-text p {
        font-size: xx-large;
    }

    .result-details li span, .result-details li p {
        font-size: larger;
    }
    .content button {
        width: 100%;
    }
}